<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Click the button to get sim info
  </p>

  <button ion-button full (click)="getSimData()">get info</button>
  <ion-card  *ngFor= "let card of cards" >
    <ion-card-header>
      {{card.carrierName}}
    </ion-card-header>
    <ion-card-content>
      <pre>{{ simInfo | json }}</pre>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="permission()">get permission</ion-button>
  <ion-button (click)="permissionCamera()">get permission camera</ion-button>
  <ion-button (click)="sendSMS()">Send SMS</ion-button>
</ion-content>
